body{
    background-color: #efefef;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.MainContent{
    margin-top: 50px;
}

.ui.yellow.card{
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.ui.red.card{
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.loader{
    margin-top: 20px;
    text-align: center;
}

.infoContainer{
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    align-items: flex-start;   
}

.info{
    margin-left: 20px;   
}

.infoHeader{
    text-shadow: 4px 2px 9px rgba(150, 150, 150, 1);
    font-weight: bold;
}

.infoDescriptionContainer{
    margin-top: 40px;
}

.infoDescription{
    font-size: 15px;
}

.infoImage{
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
}

.infoButtonContainer{
    margin-top: 80px;
}

.infoBookmarkButton{
    box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.75);
}

.infoRating{
    margin-top: 15px;
}

.BEContainer{
    background-color: whitesmoke;
    outline: 1px solid gray;
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
    align-items: flex-start;
    padding: 25px;   
}

.BEImage{
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
}


.BE{
    margin-left: 30px;
}

.BETitle{
    text-shadow: 2px 1px 6px rgba(150, 150, 150, 1);
    font-weight: bold;
}

.BEButtonContainer{
    margin-top: 20px;
}

.BEremoveButton{
    justify-self: flex-end;
}

.BELoading{
    background-color: whitesmoke;
    outline: 1px solid gray;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
    padding: 25px;   
}

.settingsHeader{
    margin-bottom: 30px;
    margin-left: 10px;
}

.langSettingsContainer{
    margin-left: 15px;
}

.langButtons{
    margin-bottom: 10px;
}

.subSettingsMessage{
    color: green;
    margin-left: 10px;
    font-weight: bold;
}

.subDropdown {
    margin-bottom: 10px;
}
